@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  /* background-color: lightgray; */
  background-image: url("https://preview.redd.it/dygu1ukgg8o61.png?width=1122&format=png&auto=webp&s=93dea2937eef83dcba47c8c7d75ef25be076da3c");
  background-repeat: no-repeat;
  background-size: cover;
  
}

